ENV=dev
HuggingFace_API_KEY = 

EMBEDDING_MODEL =  
RERANKER_MODEL = 

QDRANT_URL = 
QDRANT_API_KEY = 
QDRANT_COLLECTION = 

LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT = 

MAX_CHUNKS_AFTER_RERANK = 
MAX_TOKENS_CONTEXT = 

BACKEND_ROOT_URL = 