# Environment
ENV=dev                  # dev | staging | prod

# Gemini API
GEMINI_API_KEY=your_gemini_key_here
GOOGLE_GENAI_MODEL=gemini-1.5-pro-exp-0801    

# Embedding model (HuggingFace)
EMBEDDING_MODEL=BAAI/bge-m3
# EMBEDDING_MODEL=gritlm/gritlm-7b-instruct
# EMBEDDING_MODEL=intfloat/multilingual-e5-small

# Reranker 
RERANKER_MODEL=ms-marco-MiniLM-L-12-v2         #nhẹ
# RERANKER_MODEL=rerank-multilingual-v3.0       #cần tiếng Việt mạnh

# Qdrant Database
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=qdrant_cloud_key        
QDRANT_COLLECTION=rag_vietnam_coral_reef_corpus

# LangSmith chain
# LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=rag-chatbot-biodiversity-assessment

# Configuration
MAX_CHUNKS_AFTER_RERANK=8
MAX_TOKENS_CONTEXT=24000     