ENV=dev

# HuggingFace API
HUGGINGFACEHUB_API_TOKEN=

# Embedding Model
EMBEDDING_MODEL=
RERANKER_MODEL=

# Qdrant Vector Database
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION=

# LangChain (optional)
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=

# Application Settings
MAX_CHUNKS_AFTER_RERANK=
MAX_TOKENS_CONTEXT=
BACKEND_ROOT_URL=http://127.0.0.1:8000 