[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
langchain = "*"
langchain-community = "*"
langchain-core = "*"
langchain-text-splitters = "*"
langchain-huggingface = "*"
huggingface-hub = "*"
transformers = "*"
torch = "*"
sentence-transformers = "*"
qdrant-client = "*"
langchain-qdrant = "*"
unstructured = "*"
pypdf = "*"
beautifulsoup4 = "*"
lxml = "*"
py_vncorenlp = "*"
langdetect = "*"
python-dotenv = "*"
tqdm = "*"
streamlit = "*"
requests = "*"
einops = "*"

[dev-packages]

[requires]
python_version = "3.8"
