# Backend API + Simple Frontend
fastapi
uvicorn
streamlit

# LangChain core
langchain
langchain-community
langchain-core
langchain-text-splitters

# HuggingFace + LLM
langchain-huggingface
huggingface-hub
transformers
torch
sentence-transformers

# Vector DB
qdrant-client
langchain-qdrant

# Document processing
unstructured
pypdf
beautifulsoup4
lxml

# Vietnamese / multilingual
py_vncorenlp
langdetect

# Utilities
dotenv
tqdm
